/*a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
a:visited, a:link {
  color: #607D8B;
}
a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
a.router-link-active {
  color: #039be5;
}
*/

.mdl-layout__tab.router-link-active,
.mdl-layout__tab.is-active {
    color: rgb(255,255,255)
}

.mdl-layout__tab.router-link-active::after,
.mdl-layout__tab.is-active::after {
    height: 4px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgb(255,64,129);
    /*-webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    -webkit-transition: all 1s cubic-bezier(.4,0,1,1);
    transition: all 1s cubic-bezier(.4,0,1,1)*/
}

.mdl-layout__tab-bar {
  height: inherit;
}

.md-title-icon > i {
  background-image: url("../assets/ps-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1em 2em;
}

.mdl-layout__header-row {
    height: 56px;
    padding: 0 16px 0 72px;
    padding-left: 8px;
}

.mdl-layout__header {
  background-color: #222;
}

.mdl-layout__tab-bar {
  background-color: #222;
}

.page-content {
  margin: 2em;
}