<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="md-title-icon" ng-href="http://pluralsight.com" target="_blank"><i></i></a>
      <span class="mdl-layout-title">Storyline Tracker</span>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a *ngFor="#item of menuItems" [routerLink]="item.link" class="mdl-layout__tab"
      href="">{{item.caption}}</a>
    </div>
  </header>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </section>
  </main>
</div>